#!/usr/bin/env python
PACKAGE = "livox_ros_driver2"

from dynamic_reconfigure.parameter_generator_catkin import *

gen = ParameterGenerator()

gen.add("enable", bool_t, 0, "Enable obstacle detection", True)

acc_group = gen.add_group("a Accumulator", "Accumulate pointcloud msgs")
acc_group.add("num_scans", int_t, 0, "Number of scans to accumulate", 1, 1, 100)

range_group = gen.add_group("b Range Filter", "Range Filter")
range_group.add("max_range", double_t, 0, "Maximum range to consider", 10.0, 0.1, 100.0)

voxel_group = gen.add_group("c Voxel Grid Downsampling", "Voxel Grid Downsampling")
voxel_group.add("voxel_size", double_t, 0, "Size of voxel used for dowsampling", 0.1, 0.01, 1.0)
voxel_group.add("min_pts_voxel", int_t, 0, "Minimum points per voxel", 1, 1, 20)

ground_group = gen.add_group("d Ground Segmentation", "Ground Segmentation")
ground_group.add("max_iterations", int_t, 0, "SACSegmentation max iterations", 1000, 10, 10000)
ground_group.add("max_height", double_t, 0, "Maximum height above base footprint to look for ground plane", 0.3, 0.0, 2.0)
ground_group.add("min_plane_points", int_t, 0, "Minimum number of points to fit a plane", 100, 10, 1000)
ground_group.add("distance_threshold", double_t, 0, "SACSegmentation distance threshold", 0.1, 0.01, 1.0)
ground_group.add("eps_angle", double_t, 0, "SACSegmentation eps angle", 0.1, 0.01, 1.0)
ground_group.add("model_variance_threshold", double_t, 0, "Maximum model variance", 0.2, 0.0, 1.0)

exit(gen.generate(PACKAGE, "livox_ros_driver2", "Detector"))